.contato {
    background-color: var(--cinza-claro);
    height: 100%;
    padding: 32px;

}

.contato__container {
    background-color: var(--cinza-claro);
    
}

.contato__container-img {
    display: none;
}

.contato__texto h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
    padding-top: 20px;
}

.contato__texto p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.contato__formulario {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.contato__formulario input{
    height: 60px;
    width: 229px;
    margin: 10px;
    border: none;
    border-radius: 2px;

}

.contato__formulario input::placeholder {
    text-align: initial;
    font-family: 'Raleway';
    
}

.contato__formulario textarea {
    font-family: 'Raleway';
    border: none;
    border-radius: 2px;
}

.contato__btn {
    font-size: 16px;
    background-color: var(--cinza-medio);
    color: var(--quase-branco);
    width: 190px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px; 

}